<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>{{ .Site.Params.wrapper.title }}</h2>
            <p>{{ .Site.Params.wrapper.italic }}</p>
          </div>
          <p>MERA links a simple graphical questionnaire to the powerful openMSE libraries to calculate fish population status and management performance.</p>
          <p>MERA is developed by <a href='https://www.bluematterscience.com'> Blue Matter Science. </a> Development and testing of MERA is supported by the <a href='https://www.msc.org'> Marine Stewardship Council.</a> Additional support is gratefully acknowledged from the <a href='https://www.nrdc.org/'>Natural Resources Defense Council.</a>
          </p>
          <p>
            The objective of MERA is to bring defensible and transparent management decision making to a wider range of fisheries. The software is designed to supersede existing fishery risk assessment frameworks being of comparable usability but proving theoretically rigorous management evaluation via closed-loop simulation.
          </p>
          <p>
            MERA includes more than 30 approaches for estimating population status from varying data types and more than 100 fishery management options.
          </p>
          <h3>Licensing</h3>
          <p>
            The MERA software is available under two different Creative Common licences:
            <ol>
              <li><a href='/mera_app/'>MERA for Users: </a>  licensed with <a href='https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode'> CC BY-NC-ND</a></li>
              <li><a href='https://github.com/Blue-Matter/MERA'>MERA for Developers:</a> licensed with <a href='https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode'> CC BY-NC-SA</a></li>
            </ol>
          </p>

        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
         <img src="{{ with .Site.Params.wrapper.image }} {{ . | absURL }} {{ end }}" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>
